:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;


}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px;
}
nav {
  height: 95px;
  width: auto;
  display: flex;
  align-items: center;
  background-color: #efefef;
  padding: 0 30px;
}


.main-nav {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-nav a {
  text-decoration: none;
  color: #444;
}

.main-nav a.active {
  color: #000;
  font-weight: bold;
}

ul.book-list {
  list-style: none;
}
.book-list img {
  width: 400px;
  height: auto;
  object-fit: cover;
}
.book-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.book img{
  width: 600px;
}
.book {
  display: flex;
  gap: 1rem;
}

.book-t-d {
  display: flex;
  flex-direction: column;
  width: 650px;
}


.book h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

.quotes {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.quotes li {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}



@media screen and (max-width: 1000px) {
  .book-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .quotes {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 1rem;
  }
}


@media screen and (max-width: 500px) {
  .book-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 15px;
  }
  .quotes {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 1rem;
  }
}